$main-color: #e8aa31;
$sec-color: #141414;
$third-color: #ababab;
$fourth-color: #898989;
$fifth-color: #040404;
$six-color: #d2d2d2;
$section-bg: #e5e5e5;
$card-bg: #fefefe;
$card-available: #24ad53;
$white80-color: rgba(#ffffff, .8);
$white70-color: rgba(#ffffff, .7);
$white50-color: rgba(#ffffff, .5);
$white30-color: rgba(#ffffff, .3);
$screen-mw: 1903px; // 17px scroll-bar
$container-mw: 1590px;